
<div class="container d-flex justify-content-center">
  <div class="register">
    <h1>Add Task</h1>
  </div>

  <div class="register">
    {{#if existingtask}}
      <p>Task name already exists, choose another one please</p>
    {{/if}}

    <form action="/add-task?projectid={{projectid}}" method="post">
      <label for="taskName">Name</label><br>
      <input class="btn-block" type="text" name="taskName" placeholder="name">
    
      <label for="length">Hours Required</label><br>
      <input class="btn-block" type="number" name="length" placeholder="hours"></input>
    
      <label for="goals">Goals</label><br>
      <textarea class="btn-block" type="text" name="goals" placeholder="goals"></textarea>

      <input class="btn btn-outline-dark btn-block" type="submit" value="Submit">
    </form>

 </div>    
</div>


