<h1>Add Task</h1>

<form action="/add-task" method="post">
    
    <div>
      <label for="taskName">Name</label>
      <input type="text" name="taskName" placeholder="name">
    </div>
    <br>

    <div>
      <label for="length">Hours Required</label>
      <input type="number" name="length" placeholder="hours"></input>
    </div>
    <br>

    <div>
      <label for="goals">Goals</label>
      <textarea type="text" name="goals" placeholder="goals"></textarea>
    </div>
    <br>

    <input class="small-button" type="submit" value="submit">
</form>
