<h1>Create Project</h1>

  <br>
    {{#if existingproject}}
      <p>Project name already exists, choose another one please</p>
    {{/if}}
  <br>

<h2>Project Details</h2>
<form action="/create-project" method="post">
    
    <div>
      <label for="projectName">Name</label>
      <input type="text" name="projectName" placeholder="name">
    </div>
    <br>

    <div>
      <label for="description">Description</label>
      <textarea type="text" name="description" placeholder="description"></textarea>
    </div>
    <br>

    <div>
      <label for="startDate">Email</label>
      <input type="date" name="startDate">
    </div>
    <br>

    <div>
      <label for="endDate">Email</label>
      <input type="date" name="endDate">
    </div>
    <br>


  <h2>Task List</h2>
  <button class="btn btn-outline-dark btn-block"><a href="/add-task">Add Task</a></button>

    {{#each newtask}}
    <p>{{newtask.taskName}}</p>
    {{/each}}

  <h2>Contributors</h2>
   <button class="btn btn-outline-dark btn-block"><a href="/search-people">Search Contributors</a></button>

   <input class="small-button" type="submit" value="submit">
  </form>
