
<div class="container-fluid">
  <div class="container-fluid">
    
      {{!-- <h2>Hi,</h2> --}}
      <h1>Hi, {{result.firstName}}</h1>
      <img class="img-resize" src="{{result.avatarUrl}}">
   

    {{#if result.projects}}
    <p>These are your projects:</p>
      
      {{#each result.projects}}
      <br>
      <p>{{this}}&nbsp&nbsp&nbsp&nbsp<br></p>
      <br>
      {{/each}}
  {{else}}
    <p>You don't have projects yet.</p>
  {{/if}}
  </div>


  <div class="container-fluid d-flex justify-content-center">
    <div class="col-6">
      <a href="/search-project">
        <button class="btn btn-outline-dark btn-block" type="submit">Search Project</button>
      </a>
    </div>

    <div class="col-6">
      <a href="/create-project">
        <button class="btn btn-outline-dark btn-block" type="submit">Create Project</button>
      </a>
    </div>
  </div>

  <div class="container-fluid bg">
    this is the space for showing the projects listed
  </div>
</div>
