<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>{{title}}</title>
</head>
<body>
  <nav>
    <ul>
      <li><img src="/images/back_arrow.png" alt="back_arrow"></li>
      <li>Our Name</li>
      <li>log</li>
    </ul>
  </nav>

  {{{body}}}

</body>
</html>