<img src="" alt="name and logo">
<br>
<br>

  {{#if wrongcredentials}}
    <p>Invalid credentials</p>
  {{/if}}

<form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="email">
    </div>
    <br>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="password">
    </div>
    <br>
    <div>
      <button type="submit">
        Login
      </button>
    </div>
  </form>

  <p>Or <a href="/register">Sign Up</a>
  <br>
  <br>