<img src="" alt="name and logo">

<form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="email">
    </div>
    <br>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="password">
    </div>
    <br>
    <div>
      <button type="submit">
        Login
      </button>
      {{!-- or <a href="signup">Sign up</a> --}}
    </div>
  </form>

  {{#if loggedIn:false}}
    <p>Invalid credentials</p>
  {{/if}}