  <h1>Sign up and get exclusive content!</h1>
  <br><br>
  <form action="register" method="POST">

    <div>
      <label for="firstName">Name</label>
      <input type="text" name="firstName" placeholder="name">
    </div>
    <br>

    <div>
      <label for="lastName">Surname</label>
      <input type="text" name="lastName" placeholder="surname">
    </div>
    <br>

    <div>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="email">
    </div>
    <br>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <br>

    <div>
      <label for="confpassword">Confirm Password</label>
      <input type="password" name="confpassword" placeholder="confirm password">
    </div>
    <br>

    <input class="small-button" type="submit" value="submit">
  </form>