  
  <div class="container d-flex justify-content-center">
    <div class="register">
      <h1>Sign up and become a pro in management!</h1>
    </div>

    <div class="register">
      <form action="register" method="POST">
        
          <label for="firstName">Name</label><br>
          <input class="btn-block" type="text" name="firstName" placeholder="name">
        
          <label for="lastName">Surname</label><br>
          <input class="btn-block" type="text" name="lastName" placeholder="surname">
        
          <label for="email">Email</label><br>
          <input class="btn-block" type="text" name="email" placeholder="email">
        
          <label for="password">Password</label><br>
          <input class="btn-block" type="password" name="password" placeholder="password">

        {{!-- <div>
          <label for="confpassword">Confirm Password</label>
          <input type="password" name="confpassword" placeholder="confirm password">
        </div>
        <br> --}}

        <input class="btn btn-outline-dark btn-block" type="submit" value="Create">
      </form>
  </div>

  </div>