<h1>Search Contributors</h1>

<div class="container-fluid d-flex justify-content-center">

 <form action="/search-people" method="POST">
     
  <label for="search">Who are you looking for?</label><br>
    
    <div class="col-6">
      <input  type="text" name="search" placeholder="search">
    </div>
    <div class="col-6">
      <button type="submit" class=" col-4 btn btn-outline-dark btn-block">Search</button>
    </div>
</div>