

<div class="container-fluid">

 
  <label for="search">Wanna know which project are somewhere there?</label>
    {{#if projectExists}}
      <p>You got it already mate!</p>
    {{/if}}
    <div class="d-flex container-fluid bg1">
      <div class="col-6">
        <form action="/search-project" method="POST">
           <input id="searchicon" class="btn-block" type="text" name="search" placeholder="Project name">
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-outline-dark btn-block">Search</button>
      </div>
      </form>
    </div>

    <div class="container-fluid bg">
      
          {{#each result}}
          <div class="project_dashboard d-flex justify-content-between">
            <p>{{this.projectName}}</p>
            {{!-- this one is the + --}}
            {{!-- <div class="add btn">
             use this one or the other
            </div> --}}
            <form action="add-project?projectid={{this._id}}" method="POST">
              {{!-- <div class="addtest btn btn-outline-dark"> --}}
            <input  name="addproject" type="hidden">
            {{!-- like this one --}}
             <button type="submit" class="btn btn-outline-dark btn-block">Add</button>
            
            {{!-- </div> --}}
            

            </form>
            
  
          </div>
          {{/each}}

            
          
    
    </div>
</div>

