
<div>
  <label for="search">Wanna know which project are somewhere there?</label><br>
    <input class="btn-block" type="text" name="search" placeholder="search">
    <button type="submit" class="btn btn-outline-dark btn-block">Search</button>
</div>