

<div class="container-fluid d-flex justify-content-center">

 <form action="/search-project" method="POST">
     

  <label for="search">Wanna know which project are somewhere there?</label><br>
    
    <div class="col-6">
      <input class="btn-block col-4" type="text" name="search" placeholder="search">
    </div>
    <div class="col-6">
      <button type="submit" class=" col-4 btn btn-outline-dark btn-block">Search</button>
    </div>
</div>

