body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 900;
  color: rgb(74, 71, 71);
}
div {
  margin: 10px;
  /* border: 1px red solid; */
  border: 1px transparent solid;
}
nav {
  border-radius: 200px 200px 200px 200px;
  margin-top: 10px;
}
ul {
  list-style: none;
}
.container {
  margin-bottom: 10px;
  border-radius: 22px 22px 22px 22px;
  display: flex;
}
#container {
  margin-top: 10px;
}
.d-flex p {
  margin-top: 16px;
}
label {
  margin: 6px 0;
}
.logo {
  color: red;
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
}
.logo h1 {
  font-size: 30px;
}
input, textarea {
  border-radius: 22px 22px 22px 22px;
  border: none;
  padding-left: 20px;
  height: 40px;
}
input:focus {
  outline: none;
  padding-left: 20px;
}
.btn {
  font-family: 'Noto Sans TC', sans-serif;
}
.btn-block {
  border-radius: 22px 22px 22px 22px;
}
.btn-block:hover {
  color: red;
}
a {
  color:inherit
}
a:hover {
  text-decoration: none;
  color: red
}
.register {
  width: 50%;
}
.img-resize{
  width: 60px;
  height: 60px;
}
.bg {
  background-color: white;
}
.bg p {
  margin: 10px 0;
}
.project_dashboard {
  background-color: blanchedalmond;
  border-radius: 22px 22px 22px 22px;
  padding-left: 20px;
}
.bg1 {
  background-color: rgb(216, 236, 244);
  justify-content: center;
  align-content: center;
  border-radius: 22px 22px 22px 22px;
}
input[type=text]#searchicon  {
  background-image: url("/images/searchicon.png");
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.add {
  clip-path: polygon(0 35%, 35% 34%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
  background-color: rgb(74, 71, 71);
  margin-right: 20px;
}
.addtest {
  border-radius: 22px 22px 22px 22px;
}
.addtest:hover {
  color: red;
}

